<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Interview Prep</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/massively/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/massively/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

              
				
				<!-- Nav -->
                <nav class="navbar navbar-expand-lg  bg-light ">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        
                        <a style="color: #ffffff;" class="navbar-brand" href="/">Interview-prep Tracker</a>
                      </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right" >
                            <% if (user) { %>
                                <% if (user.firstName){ %>
                                    <li><a style="color: #ffffff;" href="/userUpdation">Hi <%= user.firstName%></a></li>
                                <% }%>
                                <% } %>
                           
                          <li><a style="color: #ffffff;" href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									
									<h2><a href="/<%=company.link%>"><%= company.name %><br />
									</a> Interview Experience</h2>
									
									<p><%= company.companyDetails%></p>
								</header>
								<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
								
							</article>

						<!-- Posts -->
							<section class="posts">
								<% for (let i = 0; i < experiences.length; i ++) { %>
									<article>
										<header>
											<!-- <span class="date">April 24, 2017</span> -->
											<% if (allUser[i] && allUser[i].firstName && allUser[i].lastName) { %>
											<h2><a href="#"><%=allUser[i].firstName%><br />
												<%=allUser[i].lastName%></a></h2>
												<% } else { %>
													<% if (allUser[i] && allUser[i].email) { %>
													<h2><a href="#"><%=allUser[i].email%><br />
													<% } %>
												<% } %>
										</header>
										<% if (allUser[i] && allUser[i].img && allUser[i].img.data) { %>
												<a href="#" class="image fit"><img src="data:image/<%=allUser[i].img.contentType%>;base64,
													<%=allUser[i].img.data.toString('base64')%>" class = "myImageStyle"></a>
										<% } else { %>
											<a href="#" class="image fit"><img src="/defaultUser.jpg" alt=""></a>
										<% } %>
														<p><%= experiences[i].experience.substring(0, 150) %>.......</p>
													<ul class="actions special">
														<li><a href="/<%=company.name%>/<%= experiences[i]._id%>" class="button">Full Story</a></li>
													</ul>
									</article>
								<% } %>
								
						
								
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/massively/assets/js/jquery.min.js"></script>
			<script src="/massively/assets/js/jquery.scrollex.min.js"></script>
			<script src="/massively/assets/js/jquery.scrolly.min.js"></script>
			<script src="/massively/assets/js/browser.min.js"></script>
			<script src="/massively/assets/js/breakpoints.min.js"></script>
			<script src="/massively/assets/js/util.js"></script>
			<script src="/massively/assets/js/main.js"></script>

	</body>
</html>